{% extends "base.html" %}

{% block title %}Datasets{% endblock %}

{% block header %}
Datasets
{% endblock %}

{% block content %}
    <table class="table">
    <thead>
    <tr>
      <th scope="col">Date updated</th>
      <th scope="col">Person count</th>
      <th scope="col">Hash</th>
    </tr>
    </thead>
    <tbody>
    {% for dataset in object_list %}
        <tr>
            <td><a href="{% url 'people' dataset.data_hash page_size %}">{{ dataset.timestamp }}</a></td>
            <td><a href="{% url 'people' dataset.data_hash page_size %}">{{ dataset.person_count }}</a></td>
            <td><a href="{% url 'people' dataset.data_hash page_size %}">{{ dataset.data_hash }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
 <form action="{% url 'fetch' %}" method="post">
    <input type="submit" value="Fetch an updated dataset">
</form>

{% endblock %}