{% extends "base.html" %}

{% block title %}Characters (grouped){% endblock %}

{% block header %}Characters (grouped){% endblock %}

{% block content %}
<table class="table">
    <thead>
    <tr>
    {% for column in header %}
      <th scope="col">{{ column }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


