{% extends "base.html" %}

{% block title %}Characters{% endblock %}

{% block header %}Characters{% endblock %}

{% block content %}
{% include "load_more.html" %}
<table class="table">
    <thead>
    <tr>
    {% for column in header %}
      <th scope="col">{{ column }}</th>
    {% endfor %}
    </tr>
    <tr>
    <form action="{% url 'grouped' dataset.data_hash %}" method="get">
    {% for column in header %}
      <th scope="col">
        {% if forloop.first %}
        <input type="submit" value="Group by">
        {% else %}
        <input type="checkbox" name="c{{ forloop.counter0 }}" value="1">
        {% endif %}
      </th>
    {% endfor %}
    </form>
    </tr>
    </thead>
    <tbody>
    {% for character in characters %}
        <tr>
            {% for value in character %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "load_more.html" %}
{% endblock %}


